.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-list{
    display: flex;
}

.nav-item {
    padding: 10px 20px;
}